.header {
	display: grid;
	grid-column: full-width;
	grid-template-columns: subgrid;
	overflow-inline: clip;

	& > * {
		grid-column: content;
	}
}

.header__inner {
	container: header / inline-size;
	z-index: 10;
}

.header__content {
	--header-padding-block: var(--space-px-2);

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: var(--header-padding-block);
	gap: var(--space-px-8);
	border-block-end: 1px solid var(--color-accent-dark);
}

@container header (width >= 48em) {
	.header__content {
		--header-padding-block: var(--space-px-8);
	}
}
