.introduction {
	display: flex;
	justify-content: space-between;
	gap: 164px;
	padding-inline-start: 24px;
	padding-inline-end: calc(24px + 5%);
	padding-block: 96px;
	align-items: center;
}

.introduction__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 64px;
	min-width: 38%;
}

.introduction__details {
	display: flex;
	justify-content: start;
	gap: 16px;
}

.introduction__details img {
	width: 24px;
	height: 24px;
}

.introduction__details {
	& p {
		font-size: var(--font-size-5);
	}
}
