.store {
	background-color: var(--color-accent-light);
	padding-inline: 32px;
	padding-block: 96px;
	border-radius: 16px 16px 0 0;
	display: flex;
	justify-content: space-between;
	gap: 80px;
}

.store__image {
	max-width: 42vw;
	overflow: hidden;
	border-radius: 16px;
}

.store__details {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	font-size: var(--font-size-5);
	& a {
		text-decoration: none;
	}
}

.push-down {
	margin-block-start: auto;
}

.button {
	background-color: var(--color-accent-dark);
	color: var(--color-accent-light);
	font-size: var(--font-size-5);
	font-weight: var(--font-weight-bold);
	height: 48px;
	width: fit-content;
	padding-inline: 32px;
	border-radius: 24px;
	align-self: start;
	display: flex;
	align-items: center;
	column-gap: 12px;
}
